.audioPlayer {
    --primary: #f40082;
    --secondary: yellow;

    display: flex;
    align-items: center;
    width: 700px;
}

.forwardBackward {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    font-family: monospace;
    font-size: 16px;
    cursor: pointer;
}

.forwardBackward:hover {
    color: var(--primary);
}

.playPause {
    background: var(--primary);
    border: none;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    font-size: 32px;
    color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.play {
    position: relative;
    left: 3px;
}

.currentTime,
.duration {
    font-family: monospace;
    font-size: 16px;

}

.currentTime {
    margin-left: 25px;
}

/* .progressBar {
    --bar-bg: lightpink;
    --seek-before-footer:
} */